.tournaments-list-key-item{
  height:25px;
  margin-bottom:5px;

  & .key-item-icon {
    float:left;
    width: 43px;
    margin-right:3px;
  }

  & .key-item-caption {
    float:left;
  }
}

.tournaments-list-tournament-name-column{
  width:200px;
}

.cup {
  text-align: center;
  color: #d5c017;
}

.tournaments-list-table tr{
  word-break: break-all;
}

.tournaments-list-table th {
  word-break: keep-all;
}