.tournaments-list-key-item{
  height:25px;
  margin-bottom:5px;

  & .key-item-icon {
    float:left;
    width: 43px;
    margin-right:3px;
  }

  & .key-item-caption {
    float:left;
  }
}

.tournaments-list-tournament-name-column{
  width:200px;
}

.cup {
  text-align: center;
  color: #d5c017;
}

.tournaments-list-table tr{
  word-break: break-all;
  & td.centered {
    text-align: center;
  }
}

.tournaments-list-table th {
  word-break: keep-all;
}

.key {
  padding-left:10px;
  padding-right:10px;
  margin: 5px;
  border-radius: 4px;
  color: #333;
  background-color: #f9f9f9;
  border:1px solid #ccc;
}