$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.image{
  width:45%;
  margin-left:25%;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
  & .footer-love {
    float:left;
  }

  & .footer-links {
    float:right;
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.input-center {
  text-align: center;
}

.alert-fix-close {
  right: -10px !important;
  top: -10px !important;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#modifyTournament {
  float: right;
}

.what-is-this {
  font-size: small;
  cursor: help;
}

.playerInList {
  width: 100%;
  height: 25px;
  cursor:default;
}

#sortablePlayerList {
  max-height: 18em;
  overflow-y: scroll;
  overflow-x: hidden
}

.bigcarret {
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.playerInList:hover {
  background-color: #efefef;
}

.playerInList i {
  font-size: xx-small;
  float: right;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.playerInListInfo {
  display: none;
  float: right;
  color: red;
}

.playerInList span span img {
  margin-top: -4px;
  margin-right: 8px;
}

#playersList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.playersStaticList {
  overflow-y: scroll;
  max-height: 20em;
  cursor:default;
}

#playersList ul li {
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.toodle-header {
  position: relative;
}

.toodle-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-size: 24px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.navbar-title {
  float: left;
  max-width: 25%;
}

.navbar-container {
  position: relative;
}

.navbar-language-select {
  float: right;
}

.bracket-normalLink {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.bracket-highlight {
  fill: none;
  stroke: green;
  stroke-width: 3px;
}

nav.navbar-language-select {
  padding-left: 0;
  margin-right: 15px;
}

#activeLanguage {
  //  padding-left: 40px;
}

nav div {
  &.navbar-menus {
    & div#welcome {
      float: left;
      margin-right: 5px;
      display: none;

      & button {
        border: 0;
        background: none;
      }
    }

    & ul {
      list-style: none;
      position: relative;
      display: inline-table;
      padding: 0;
      float: right;
      &.login-menu {
        float: left;
      }
      #languageSelector {
        border-left: 1px solid #777;
        min-width: 55px;
      }

      & li ul {
        display: none;
        position: absolute;
        top: 100%;
      }

      & li:hover > ul {
        display: block;
        margin-left: 0px;
      }

      &:after {
        content: "";
        clear: both;
        display: block;
      }

      & li.login-menu-item {
        cursor: pointer;
        margin-right: 7px;
        &:hover > ul {
          width: 100%;
        }
        & ul {
          width: inherit;
          li {
            width: inherit;
          }

          &.loggedin-menu {
            margin-left: 10px;
            padding-right:10px;
            & li {
              border-bottom:1px solid #c0c0c0;
              & a {
                width: 100%;
                text-align: left;
                background-color:#fcfcfc;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        & ul li button {
          background: none;
          border: 0;
          margin:1px;
          &:hover{
            margin:0;
            border:1px solid #dcdcdc
          }
        }
      }

      & li {
        float: left;
        //min-width: 55px;
        & ul {
          margin-left: 0px;
        }

        &:hover a {
          color: #757575;
          text-decoration: none;
          background-color: #fff;
        }

        & ul li a {
          float: right;
        }

        & a img {
          margin-right: 5px;
        }
      }

      & a {
        display: block;
        color: #757575;
        text-decoration: none;
        margin-left: 10px;
      }
    }
  }
}

.hide-if-small {
  @media (max-width: 531px){
    display:none;
  }
}

.hide-if-medium {
  @media (max-width: 950px) {
    display: none;
  }
}

.app-alert {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  height: 5.5em;
  @media (max-width: 765px) {
    width: 96%;
  }
  @media (min-width: 766px) {
    width: 700px;
  }
  z-index: 5;

  &.tournament-create {
    position: relative;
  }
}

.group-table-container {
  display: inline-block;
}

.group-block {
  min-width: 280px;
  margin-right: 4em;
  margin-bottom: 2em;
  background-color: #f2f2f2;
  border: 1px solid gray;

  & .match-winner {
    font-weight: bold;
    background-color: #cfc;
  }

  & .group-player-line {
    & td {
      border: 1px solid gray;
    }

    & .group-rank {
      width: 20px;
      text-align: center;
    }
    & .group-player-tag {
      padding-left: 3px;
      width: 180px;
    }

    & .group-player-score {
      width: 30px;
      text-align: center;
      font-weight: bold;
    }

    & .group-player-totals {
      width: 30px;
      text-align: center;
    }

    & .group-player-winner {
      background-color: #cfc;
    }

    & .group-player-loser {
      background-color: #fda;
    }
  }

  & .group-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  & tr td table.group-matches {
    width: 100%;
    & tr {
      border-bottom: 1px solid gray;
    }
    & tr td {
      &.player1 {
        padding-right: 3px;
        border-right: 1px solid gray;
        width: 120px;
        text-align: right;
      }

      &.score1 {
        text-align: center;
        border-right: 1px solid gray;
        width: 15px;
      }

      &.score2 {
        text-align: center;
        width: 15px;
      }

      &.player2 {
        padding-left: 3px;
        border-left: 1px solid gray;
        width: 115px;
      }

      & img {
        position: absolute;
        top: -4px;
        right: -8px;
        height: 15px;
        &.match-unreport-button {
        }
        &.match-report-button {
        }
      }

      & span {
        height: 1.5em;
      }
    }
  }
}