$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.input-center {
  text-align: center;
}

.alert-fix-close {
  right: -10px !important;
  top: -10px !important;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#modifyTournament {
  float: right;
}

#bracket {
  margin-left: -30%;
}

.what-is-this {
  font-size: small;
  cursor: help;
}

.playerInList {
  width: 100%;
  height: 25px
}

.playerInList:hover {
  background-color: #efefef;
}

.playerInList i {
  font-size: xx-small;
  float: right;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.playerInListInfo {
  display: none;
  float: right;
  color: red;
}

.playerInList span span img {
  margin-top: -4px;
  margin-right: 8px;
}

#playersList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#playersList ul li {
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.toodle-header {
  position: relative;
}

.toodle-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-size: 24px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.navbar-title {
  float: left;
  max-width: 25%;
}

.navbar-container {
  position: relative;
}

.navbar-language-select {
  float: right;
  max-width: 35%;
}

.bracket-normalLink {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.bracket-highlight {
  fill: none;
  stroke: green;
  stroke-width: 3px;
}

nav.navbar-language-select {
  padding-left: 0;
}

#activeLanguage {
  padding-left: 40px;
}

nav ul {
  list-style: none;
  position: relative;
  display: inline-table;

  & ul {
    display: none;
    position: absolute;
    top: 100%;
  }

  & li:hover > ul {
    display: block;
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  & li {
    float: left;
    min-width: 55px;
    & ul {
      margin-left: -30px;
    }

    &:hover a {
      color: #757575;
      text-decoration: none;
      background-color: #fff;
    }

    & ul li a {
      float: right;
    }

    & a img {
      margin-right: 5px;
    }
  }

  & a {
    display: block;
    color: #757575;
    text-decoration: none;
    float: right;
  }
}

.group-table-container {
  display: inline-block;
}

.group-block {
  min-width: 280px;
  margin-right: 4em;
  margin-bottom: 2em;
  background-color: #f2f2f2;
  border: 1px solid gray;

  & .match-winner {
    font-weight:bold;
    background-color:#cfc;
  }

  & .group-player-line {
    & td {
      border: 1px solid gray;
    }

    & .group-rank{
      width:20px;
      text-align:center;
    }
    & .group-player-tag {
      padding-left:3px;
      width: 180px;
    }

    & .group-player-score {
      width: 30px;
      text-align:center;
      font-weight: bold;
    }

    & .group-player-totals {
      width: 30px;
      text-align:center;
    }

    & .group-player-winner{
      background-color:#cfc;
    }

    & .group-player-loser{
      background-color:#fda;
    }
  }

  & .group-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  & tr td table.group-matches {
    width:100%;
    & tr {
      border-bottom:1px solid gray;
    }
    & tr td {
      &.player1 {
        padding-right:3px;
        border-right:1px solid gray;
        width:120px;
        text-align: right;
      }

      &.score1 {
        text-align: center;
        border-right:1px solid gray;
        width:15px;
      }

      &.score2 {
        text-align: center;
        width: 15px;
      }

      &.player2 {
        padding-left:3px;
        border-left:1px solid gray;
        width:115px;
      }

      & img{
        position:absolute;
        top:-4px;
        right:-8px;
        height:15px;
        &.match-unreport-button{
        }
        &.match-report-button{
        }
      }

      & span{
        height:1.5em;
      }
    }

  }
}