<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title custom-title" id="unreportModalLabel">
        <span translate="admin.actions.reporting.unreportTitle"></span>
        <div class="dash">-</div>
        <div class="player-name ellipsis" title="{{ gameToUnreport.player1.name }}">
            {{ gameToUnreport.player1.name }}
        </div>
        <div class="versus-separator">VS</div>
        <div class="player-name ellipsis" title="{{ gameToUnreport.player2.name }}">
            {{ gameToUnreport.player2.name }}
        </div>
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="form-group col-sm-12">
                <p translate="admin.actions.reporting.warning"></p>
            </div>
        </div>
        <input type="hidden" ng-model="gameToUnreport.number">
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelUnreport" ng-click="cancel()" translate="admin.actions.run.cancel">
    </button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="unreportMatch()"
            id="doUnreport" translate="admin.actions.run.confirm">
    </button>
</div>