<div>
    <div class="group-table-container" ng-repeat="group in groups">
        <table class="group-block">
            <tr>
                <th colspan="4" class="group-title">
                    <b><span translate="bracket.group"></span> {{ group.number }}</b>
                </th>
            </tr>
            <tr ng-repeat="player in group.players" class="group-player-line" style="width:100%;position:relative">
                <td class="group-rank"> <b>{{$index +1}}.</b></td>
                <td class="group-player-tag {{ $index == 0 || $index == 1 ? 'group-player-winner' : 'group-player-loser'}}">
                    <span ng-if="player.faction"><img src="/images/icon-{{player.faction}}.png" height="20px"></span>
                    {{ player.name }}
                </td>
                <td class="group-player-score">{{player.win ? player.win : 0 }}-{{ player.loss ? player.loss : 0}}
                </td>
                <td class="group-player-totals">{{player.winCount ? player.winCount : 0}}-{{player.lossCount ?
                    player.lossCount : 0}}
                </td>
            </tr>
            <tr>
            <tr>
                <th colspan="4" class="group-title">
                    <b>Group {{ group.number }} matches</b>
                </th>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="group-matches">
                        <tr ng-repeat="match in group.matches">
                            <td class="player1 {{match.player1Score > match.player2Score ? 'match-winner' : ''}}">{{match.player1.name ? match.player1.name : ''}}<span ng-if="match.player1.faction"><img src="/images/icon-{{match.player1.faction}}.png" height="20px"></span></td>
                            <td class="score1 {{match.player1Score > match.player2Score ? 'match-winner' : ''}}">{{match.player1Score || match.player1Score === 0? match.player1Score : '-'}}</td>
                            <td class="score2 {{match.player1Score < match.player2Score ? 'match-winner' : ''}}">{{match.player2Score || match.player2Score === 0 ? match.player2Score : '-'}}</td>
                            <td class="player2 {{match.player1Score < match.player2Score ? 'match-winner' : ''}}"><span ng-if="match.player2.faction"><img src="/images/icon-{{match.player2.faction}}.png" height="20px"></span>{{match.player2.name ? match.player2.name : ''}}
                                <span ng-show="match.canBeUnreported" ng-click="unreport(match)" style="position:relative;float:right;"><img src="./images/circle-red.png" class="match-unreport-button"/></span>
                                <span ng-show="match.canBeReported" ng-click="report(match)" style="position:relative;float:right;"><img src="./images/circle-green.png" class="match-report-button"/></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>