<div class="simple-gsl-global-container">
    <div class="group-table-container" ng-repeat="group in groups">
        <table class="group-block" id="group-{{group.number}}">
            <tr>
                <th colspan="4" class="group-title">
                    <b><span translate="bracket.group"></span> {{ group.number }}</b>
                </th>
            </tr>
            <tr ng-repeat="player in group.players" class="group-player-line" style="width:100%;position:relative">
                <td class="group-rank"> <b>{{$index +1}}.</b></td>
                <td class="group-player-tag preconf" id="clickable-{{group.number}}-{{stripPlayerName(player.name)}}" ng-click="selectPlayerToSwap(group.number, player.name)" style="position:relative;">
                    <span ng-if="player.faction"><div class="icon-{{player.faction}}-16" style="margin-top:2px;float:left"></div></span>
                    <span style="float:left">{{ player.name }}</span>
                    <div class="preconf-swapIcon swapPlayers-16" id="slot-{{group.number}}-{{stripPlayerName(player.name)}}"></div>
                </td>
            </tr>
            <tr>
        </table>
    </div>
</div>