<div class="simple-gsl-global-container">
    <div class="group-table-container" ng-repeat="group in localGroups">
        <table class="group-block" id="group-{{group.number}}">
            <tr>
                <th colspan="4" class="group-title">
                    <b><span translate="bracket.group"></span> {{ group.number }}</b>
                </th>
            </tr>
            <tr ng-repeat="player in group.players" class="group-player-line" style="width:100%;position:relative">
                <td class="group-rank"> <b>{{$index +1}}.</b></td>
                <td class="group-player-tag {{ $index == 0 || $index == 1 ? 'group-player-winner' : 'group-player-loser'}}">
                    <span ng-if="player.faction"><div class="icon-{{player.faction}}-16 player-icon right"></div></span></span>
                    {{ player.name }}
                </td>
                <td class="group-player-score">{{player.win ? player.win : 0 }}-{{ player.loss ? player.loss : 0}}
                </td>
                <td class="group-player-totals">{{player.winCount ? player.winCount : 0}}-{{player.lossCount ?
                    player.lossCount : 0}}
                </td>
            </tr>
            <tr>
            <tr>
                <th colspan="4" class="group-title">
                    <b>Group {{ group.number }} matches</b>
                </th>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="group-matches">
                        <tr ng-repeat="match in group.matches">
                            <td class="player1{{match.complete && (match.score1 > match.score2 || match.winner && match.winner === 1) ? ' match-winner' : ''}}{{match.winner && match.winner !== 1 ? ' match-forfeiter' : ''}}">{{match.player1.name ? match.player1.name : ''}}
                                <div
                                    ng-if="match.player1.faction" class="icon-{{match.player1.faction}}-16 player-icon left"></div></td>
                            <td class="score1{{match.complete && (match.score1 > match.score2 || match.winner && match.winner === 1) ? ' match-winner' : ''}}{{match.winner && match.winner !== 1 ? ' match-forfeiter' : ''}}">{{match.score1 || match.score1 === 0? match.score1 : '-'}}</td>
                            <td class="score2{{match.complete && (match.score1 < match.score2 || match.winner && match.winner === 2) ? ' match-winner' : ''}}{{match.winner && match.winner !== 2 ? ' match-forfeiter' : ''}}">{{match.score2 || match.score2 === 0 ? match.score2 : '-'}}</td>
                            <td class="player2{{match.complete && (match.score1 < match.score2 || match.winner && match.winner === 2) ? ' match-winner' : ''}}{{match.winner && match.winner !== 2 ? ' match-forfeiter' : ''}}">
                                <div
                                    ng-if="match.player2.faction" class="icon-{{match.player2.faction}}-16 player-icon right"></div>{{match.player2.name ? match.player2.name : ''}}
                                <span id="matchNumber-{{match.number}}" ng-if="match.canBeUnreported" ng-click="controllerReferencesForRenderer.unreport(match)" style="position:relative;float:right;">
                                    <span id="matchNumber-{{match.number}}-img" class="glyphicon glyphicon-trash match-unreport-button"></span>
                                </span>
                                <span id="matchNumber-{{match.number}}" ng-if="match.canBeReported" ng-click="controllerReferencesForRenderer.report(match)" style="position:relative;float:right;">
                                    <span id="matchNumber-{{match.number}}-img" class="glyphicon glyphicon-edit match-report-button"></span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>