<div ng-include="'partials/navbar'"></div>

<div>
    <h1>{{ 'admin.header.tournament' | translate }} {{tournamentInfo.tournamentName}} {{ 'admin.header.adminPage' |
        translate}}</h1>
    <button class="btn btn-warning" title="{{ 'admin.actions.lockTooltip' | translate }}" ng-click="toggleRegistrationLock()">{{ 'admin.actions.lock' | translate }}</button>
    <p>{{ 'admin.intro' | translate }}</p>

    <form class="form-horizontal" ng-submit="updateTourney()">
        <fieldset>

            <legend>{{ 'admin.form.configure' | translate }}</legend>
            <div class="row">

                <div class="form-group col-sm-12">
                    <label class="control-label" for="game">{{ 'admin.form.game' | translate }}</label>

                    <select id="game" name="game" class="form-control" ng-model="tournamentInfo.game">
                        <option value="">{{ 'admin.form.pickGame' | translate}}</option>
                        <option value="sc2">Starcraft II</option>
                        <option value="other">{{ 'admin.form.other' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm-12">
                    <label class="control-label" for="engine">{{'admin.form.engine' | translate}}</label>

                    <select id="engine" name="engine" class="form-control" ng-model="tournamentInfo.engine">
                        <option value=""></option>
                        <option value="1">Single elim. bracket</option>
                        <option value="2">Single elim. bracket w/ 3rd place decider</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label" for="description">{{ 'admin.form.description' | translate }}</label>
                    <textarea id="description" name="description" class="form-control" ng-model="tournamentInfo.description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="roundFormat">{{ 'admin.form.roundFormats' | translate}}</label>

                    <select id="roundFormat" name="roundFormat" class="form-control" ng-model="tournamentInfo.roundFormat">
                        <option value=""></option>
                        <option value="1">Best of 1</option>
                        <option value="3">Best of 3</option>
                        <option value="5">Best of 5</option>
                        <option value="7">Best of 7</option>
                        <option value="9">Best of 9</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="numberOfPlayers">{{ 'admin.form.numberOfPlayers' | translate}}</label>
                    <select id="numberOfPlayers" name="numberOfPlayers" class="form-control" ng-model="tournamentInfo.numberOfPlayers">
                        <option value=""></option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button id="modifyTournament" type="submit" class="btn btn-primary" >{{ 'admin.form.submit' | translate }}</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="tourneyUpdateOk" class="alert alert-success alert-dismissible" role="alert" hidden>
        <button type="button" class="close alert-fix-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'admin.update.success' | translate}}
    </div>
    <div id="tourneyUpdateKo" class="alert alert-danger alert-dismissible" role="alert" hidden>
        <button type="button" class="close alert-fix-close" data-dismiss="alert" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'admin.update.fail' | translate }} (Reason : {{errorMessage}})
    </div>
</div>

<div class="footer">
    <p translate="footer.love"></p>
</div>
