<div ng-include="'partials/navbar'"></div>

<div id="content">
    <h1 translate="tournamentsList.title"></h1>
    <div class="key">
        <h2 translate="tournamentsList.key"></h2>
        <hr/>
        <div class="tournaments-list-key-item">
            <div class="engine-logo-simpleGSLGroups key-item-icon"></div>
            <span class="key-item-caption" translate="engines.simpleGSLGroups"></span>
        </div>
        <div class="tournaments-list-key-item">
            <div class="engine-logo-singleElim key-item-icon"></div>
            <span class="key-item-caption" translate="engines.singleElim"></span></div>
        <div class="tournaments-list-key-item">
            <i class="glyphicon glyphicon-king key-item-icon cup"></i>
            <span class="key-item-caption" translate="tournamentsList.partOfACup"></span></div>
    </div>
    <h2 translate="tournamentsList.tournaments"></h2>
    <table class="table table-striped tournaments-list-table" id="tournamentsList">
        <tr>
            <th class="tournaments-list-tournament-name-column" translate="tournamentsList.tournamentName"></th>
            <th translate="tournamentsList.running.title"></th>
            <th translate="tournamentsList.cup"></th>
            <th translate="tournamentsList.type"></th>
            <th translate="tournamentsList.startDate.title"></th>
            <th translate="tournamentsList.dateCreated.title"></th>
        </tr>

        <tr ng-repeat="tournament in tournamentsToDisplay">
            <td><a ng-href="/play/{{tournament.signupID}}">{{tournament.tournamentName}}</a></td>
            <td class="centered"><span ng-if="tournament.running" translate="tournamentsList.running.yes"></span><span
                    ng-if="!tournament.running" translate="tournamentsList.running.no"></span></td>
            <td class="cup"><i ng-if="tournament.followingTournamentPublicId || tournament.parentTournamentPublicId" class="glyphicon glyphicon-king"></i></td>
            <td>
                <div class="engine-logo-{{tournament.engine}}"></div>
            </td>
            <td><span>{{tournament.formattedStartDate}}</span></td>
            <td><span>{{tournament.formattedCreationDate}}</span></td>
        </tr>
    </table>

    <pager template-url="/views/partials/pagerTemplate.html" total-items="maxPages" items-per-page="20"
           ng-model="currentPage" ng-change="updateTournamentsList()"></pager>
</div>

<div ng-include="'partials/footer'"></div>