<div ng-include="'partials/navbar'"></div>
<div class="form-group col-sm-12">
    <div id="tourneyReportingOk" class="alert alert-success alert-dismissible app-alert" role="alert" hidden>
        <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span translate="admin.actions.reporting.reportingOk"></span>
    </div>
    <div id="tourneyReportingKo" class="alert alert-danger alert-dismissible app-alert" role="alert" hidden>
        <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span translate="admin.actions.reporting.reportingKo"></span> (<span translate="{{errorMessage}}">{{ errorMessage | translate}}</span>)
    </div>
</div>

<div id="notFound" class="alert alert-danger ng-binding" role="alert" hidden="" style="display: none;">
    <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" style="display: none;"><span
            aria-hidden="true" style="display: none;">×</span><span class="sr-only" style="display: none;">Close</span>
    </button>
    <span translate="play.notFound"></span>
</div>
<div id="content">
    <h1> <span translate="bracket.header"></span> <a
            href="/play/{{tournamentInfo.signupID}}">{{tournamentInfo.tournamentName}}</a></h1>

    <div ng-show="tournamentId" style="position:relative;width:50%;left:25%">
        <form ng-show="canSwapPlayers" class="form-horizontal ng-pristine ng-valid ng-valid-required" ng-submit="swapPlayers()">

            <fieldset id="swapForm" style="font-size: 0.75em">
                <legend class="ng-scope" translate="admin.actions.swapPlayers.title"></legend>
                <div class="row">

                    <div class="form-group col-sm-12">
                        <label class="control-label ng-scope" for="game" translate="admin.actions.swapPlayers.firstPlayer"></label>

                        <select id="game" name="game" class="form-control ng-pristine ng-untouched ng-valid" ng-model="player1ToSwap"
                                ng-options="item as item.name for item in swappablePlayers track by item.name">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label ng-scope" for="engine" translate="admin.actions.swapPlayers.secondPlayer"></label>

                        <select id="engine" name="engine" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="player2ToSwap"
                                ng-options="item as item.name for item in swappablePlayers track by item.name">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <button id="swapPlayers" type="submit" class="btn btn-primary ng-scope" translate="admin.actions.swapPlayers.doSwap"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div style="height:1em"><span id="highlightedPlayerText" ng-show="playerToHighlight">  <span translate="bracket.playerToHighlight"></span> : {{playerToHighlight.name}}</span>
    </div>

    <div ng-show="engineTemplate" ng-include="engineTemplate"></div>

    <div id="notRunning" style="display:none;">
        <h2 translate="bracket.tournamentNotRunningWarning"></h2>
    </div>

</div>

<div ng-include="'partials/footer'"></div>

