<div class="form-group col-sm-12">
    <alert id="tourneyReportingKo" collapse="!bracketErrorMessage" type="danger" close="hideLocalAlerts()" style="margin-top:25px;">
        <span translate="{{bracketErrorMessage}}">{{bracketErrorMessage |translate}}</span>
    </alert>
</div>
<h2><span translate="admin.misc.current"></span> :</h2>
<single-elim-bracket-display ng-if="tournamentInfo.engine !== 'simpleGSLGroups'"
                             id="mainBracket" original-id="mainBracket"></single-elim-bracket-display>
<simple-gsl-display ng-if="tournamentInfo.engine === 'simpleGSLGroups'"
                    controller-references-for-renderer="controllerReferencesForRenderer"
                    related-tournament="mainTournament" id="mainBracket" original-id="mainBracket"></simple-gsl-display>

<div ng-repeat="(key, tournament) in relatedTournaments">
    <h2><span translate="admin.misc.parent"></span> : {{tournament.tournamentData.tournamentName}}</h2>
    <single-elim-bracket-display
            ng-if="tournament.tournamentData.engine !== 'simpleGSLGroups' && tournament.tournamentData.running"
            id="bracketToRender" original-id="bracketToRender"
            relatedtournamentkey="{{key}}" ng-show="tournament.tournamentData.running"></single-elim-bracket-display>
    <simple-gsl-display controller-references-for-renderer="controllerReferencesForRenderer"
                        original-id="bracketToRender" related-tournament="tournament"
                        ng-if="tournament.tournamentData.engine === 'simpleGSLGroups'"
                        ng-show="tournament.tournamentData.running" id="bracketToRender"></simple-gsl-display>

    <div ng-show="!tournament.tournamentData.running" id="notRunning">
        <h3 translate="bracket.tournamentNotRunningWarning"></h3>
    </div>
</div>

<div class="show-me-more" ng-click="showPreviousTournament()" ng-show="hasNext" id="showTournamentParent">
<span
        translate="admin.showParentBracket"></span>
</div>
</div>