<div ng-include="'partials/navbar'"></div>
<div class="form-group col-sm-12">
    <div id="tourneyReportingOk" class="alert alert-success alert-dismissible app-alert" role="alert" hidden>
        <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span translate="admin.actions.reporting.reportingOk"></span>
    </div>
    <div id="tourneyReportingKo" class="alert alert-danger alert-dismissible app-alert" role="alert" hidden>
        <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span translate="admin.actions.reporting.reportingKo"></span> (<span translate="{{errorMessage}}">{{ errorMessage | translate}}</span>)
    </div>
</div>
<!-- Reporting Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="reportModalLabel"><span translate="admin.actions.reporting.title"></span> - {{
                    firstGameToReport.player1.name }} VS {{firstGameToReport.player2.name}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <legend translate="admin.actions.reporting.describeReport"></legend>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label" for="score1"> {{firstGameToReport.player1.name}} <span translate="admin.actions.reporting.playerScore"></span></label>
                                <input type="tel" id="score1" ng-model="score1" class="form-control"/>

                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label" for="score2"> {{firstGameToReport.player2.name}} <span translate="admin.actions.reporting.playerScore"></span></label>
                                <input type="tel" id="score2" ng-model="score2" class="form-control"/>
                            </div>
                            <input type="hidden" ng-model="firstGameToReport.number">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelReport" translate="admin.actions.run.cancel">
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reportMatch()"
                        id="doReport" translate="admin.actions.run.confirm">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unreportModal" tabindex="-1" role="dialog" aria-labelledby="unreportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="unreportModalLabel">{{ 'admin.actions.reporting.unreportTitle' |
                    translate
                    }} - {{
                    gameToUnreport.player1.name }} VS {{gameToUnreport.player2.name}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <span translate="admin.actions.reporting.warning"></span>
                        </div>
                    </div>
                    <input type="hidden" ng-model="gameToUnreport.number">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelUnreport" translate="admin.actions.run.cancel">
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="unreportMatch()"
                        id="doUnreport" translate="admin.actions.run.confirm">
                </button>
            </div>
        </div>
    </div>
</div>

<div id="notFound" class="alert alert-danger ng-binding" role="alert" hidden="" style="display: none;">
    <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" style="display: none;"><span
            aria-hidden="true" style="display: none;">×</span><span class="sr-only" style="display: none;">Close</span>
    </button>
    <span translate="play.notFound"></span>
</div>
<div id="content">
    <h1> <span translate="bracket.header"></span> <a
            href="/play/{{tournamentInfo.signupID}}">{{tournamentInfo.tournamentName}}</a></h1>

    <div style="height:1em"><span id="highlightedPlayerText" ng-show="playerToHighlight">  <span translate="bracket.playerToHighlight"></span> : {{playerToHighlight.name}}</span>
    </div>
    <div id="bracket">

    </div>
    <div ng-show="engineTemplate" ng-include="engineTemplate"></div>

    <div id="notRunning" style="display:none;">
        <h2 translate="bracket.tournamentNotRunningWarning"></h2>
    </div>

</div>

<div ng-include="'partials/footer'"></div>

