<div ng-show="notFound" id="notFound" class="alert alert-danger ng-binding" role="alert" hidden=""
     style="display: none;">
    <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" style="display: none;"><span
            aria-hidden="true" style="display: none;">×</span><span class="sr-only" style="display: none;">Close</span>
    </button>
    <span translate="play.notFound"></span>
</div>
<div id="content" ng-show="!hideContent">
    <div ng-controller="BracketCtrl" name="publicBracket">
        <div ng-include="'partials/bracket.html'"></div>
    </div>
</div>