<div ng-include="'partials/navbar'"></div>

<div>
    <form name="form" ng-submit="createTourney(form)">
        <div class="form-group">
            <label translate="quickAdd.registerMessage"></label>

            <input type="text" name="tournamentName" id="tournamentName" class="form-control input-center" placeholder="Tournament name" ng-model="tournamentName" ng-required="required"/>
            <!--<select>-->
                <!--<option>Single elimination Bracket</option>-->
                <!--<option>Group stages</option>-->
            <!--</select>-->
            <button class="form-control" type="submit">Go !</button>
        </div>
    </form>
</div>
<div id="tourneyCreationOk" class="alert alert-success alert-dismissible" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    The tournament has been created! You can administer it using <a href="/admin/{{adminURL}}" class="alert-link">this link</a>
    , and you can send <a href="/signup/{{signupURL}}" class="alert-link">this link</a> to allow your users to enroll.

    </div>
<div id="tourneyCreationKo" class="alert alert-danger alert-dismissible" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    Something bad happened, the tournament was not created (Reason : {{errorMessage}}). Please try again.
    </div>
<div class="footer">
  <p>♥ from the Toodle team</p>
</div>
