<div ng-include="'partials/navbar'"></div>

<div>
    <form name="form" ng-submit="createTourney(form)">
        <h1 id="registerLabel" translate="quickAdd.registerMessage"></h1>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label translate="quickAdd.tournamentNamePlaceholder"></label><span
                        class="glyphicon glyphicon-asterisk" aria-hidden="true" style="font-size:xx-small;vertical-align:super"></span>

                    <input type="text" name="tournamentName" id="tournamentName" class="form-control input-center"
                           ng-model="tournamentName" ng-required="required"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label" for="description" translate="admin.form.description"></label>
                    <textarea id="description" name="description" class="form-control"
                              ng-model="tournamentDescription"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label" for="tournamentStart" translate="admin.form.startDate"></label>

                    <p class="input-group">
                        <input type="text" id="tournamentStart" class="form-control" datepicker-popup="{{format}}"
                               ng-model="tournamentStartDate" is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label" translate="">&nbsp;</label>
                    <button class="form-control btn-primary" id="registerTournamentButton" type="submit"
                            translate="quickAdd.go"></button>
                </div>
            </div>
            <div class="row">
                <p class="col-sm-12" style="font-size:10px;">
                <span
                        class="glyphicon glyphicon-asterisk" aria-hidden="true"
                        style="font-size:xx-small;"></span> : <span translate="quickAdd.mandatory"></span>
                </p>
            </div>
        </div>
    </form>
</div>
<div ng-if="tourneyCreationKo" id="tourneyCreationKo"
     class="alert alert-danger alert-dismissible app-alert tournament-create" role="alert">
    <button type="button" class="close alert-fix-close" ng-click="hideLocalAlerts()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span translate="quickAdd.fail"></span> ({{errorMessage}})
</div>
<div ng-include="'partials/footer'"></div>
