<div ng-include="'partials/navbar'"></div>

<div>
    <form name="form" ng-submit="createTourney(form)">
        <div class="form-group">
            <label id="registerLabel" translate="quickAdd.registerMessage"></label>

            <input type="text" name="tournamentName" id="tournamentName" class="form-control input-center" placeholder="{{'quickAdd.tournamentNamePlaceholder' | translate }}" ng-model="tournamentName" ng-required="required"/>
            <!--<select>-->
                <!--<option>Single elimination Bracket</option>-->
                <!--<option>Group stages</option>-->
            <!--</select>-->
            <button class="form-control" id="registerTournamentButton" type="submit" translate="quickAdd.go"></button>
        </div>
    </form>
</div>
<div id="tourneyCreationOk" class="alert alert-success alert-dismissible" role="alert" hidden>
    <button type="button" class="close alert-fix-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ 'quickAdd.success.pre' | translate}} <a ng-href='/admin/{{adminURL}}' class='alert-link' translate="quickAdd.success.thisLink" id="adminLink"></a> {{ 'quickAdd.success.mid' | translate}} <a ng-href='/play/{{signupURL}}' class='alert-link' translate="quickAdd.success.thisLink" id="signupLink">this link</a> {{ 'quickAdd.success.end' | translate}}
    </div>
<div id="tourneyCreationKo" class="alert alert-danger alert-dismissible" role="alert" hidden>
    <button type="button" class="close alert-fix-close" data-dismiss="alert" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ 'quickAdd.fail' | translate }} ({{errorMessage}})
</div>
<div ng-include="'partials/footer'"></div>
