<div class="header toodle-header" ng-controller="NavbarCtrl">
  <!--<ul class="nav nav-pills pull-right">-->
    <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
        <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
    <!--</li>-->
    <!--<li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>-->
    <!--<li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->
    <!--<li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>-->
  <!--</ul>-->
  <a href="/" class="toodle-title text-muted" translate="header.title"></a>
  <select class="toodle-select-language" id="language" ng-model="selectedLanguage">
    <option value="en">EN</option>
    <option value="fr">FR</option>
  </select>
</div>