<div ng-include="'partials/navbar'"></div>
<!-- Reporting Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="reportModalLabel"><span translate="admin.actions.reporting.title"></span> - {{
                    firstGameToReport.player1.name }} VS {{firstGameToReport.player2.name}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <legend translate="admin.actions.reporting.describeReport"></legend>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label" for="score1"> {{firstGameToReport.player1.name}}{{
                                    'admin.actions.reporting.playerScore'|
                                    translate}}</label>
                                <input type="tel" id="score1" ng-model="score1" class="form-control"/>

                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label" for="score2"> {{firstGameToReport.player2.name}}{{
                                    'admin.actions.reporting.playerScore'|
                                    translate}}</label>
                                <input type="tel" id="score2" ng-model="score2" class="form-control"/>
                            </div>
                            <input type="hidden" ng-model="firstGameToReport.number">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelReport" translate="admin.actions.run.cancel">
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reportMatch()"
                        id="doReport" translate="admin.actions.run.confirm">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unreportModal" tabindex="-1" role="dialog" aria-labelledby="unreportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="unreportModalLabel"><span translate="admin.actions.reporting.unreportTitle"></span> - {{
                    gameToUnreport.player1.name }} VS {{gameToUnreport.player2.name}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <span translate="admin.actions.reporting.warning"></span>
                        </div>
                    </div>
                    <input type="hidden" ng-model="gameToUnreport.number">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelUnreport">{{ 'admin.actions.run.cancel' |
                    translate}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="unreportMatch()"
                        id="doUnreport" translate="admin.actions.run.confirm">
                </button>
            </div>
        </div>
    </div>
</div>

<div id="notFound" class="alert alert-danger ng-binding" role="alert" hidden="" style="display: none;">
    <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" style="display: none;"><span aria-hidden="true" style="display: none;">×</span><span class="sr-only" style="display: none;">Close</span></button>
    <span translate="play.notFound"></span>
</div>
<div id="content">
    <h1><span translate="play.header.tournament"></span> {{tournamentInfo.tournamentName}} {{ 'play.header.playPage' |
        translate}}</h1>

    <p translate="play.intro"></p>

    <fieldset ng-show="tournamentInfo.running">
        <legend ng-show="playerCanReport()" translate="admin.actions.reporting.title"></legend>
        <div class="form-group col-sm-6" ng-show="playerCanReport()">
            <label class="control-label" for="reportGame" translate="admin.actions.reporting.reportMatch"></label>

            <select id="reportGame" name="reportGame" class="form-control" ng-model="firstGameToReport"
                    ng-options="item as item.player1.name+' VS '+item.player2.name for item in gamesToReport track by item.number">
            </select>
            <button ng-show="gamesToReport.length" id="reportGameButton" data-toggle="modal" data-target="#reportModal"
                    class="btn btn-primary"
                    title="{{'admin.actions.reporting.reportButton'|translate}}" translate="admin.actions.reporting.reportButton">
            </button>
        </div>

        <div class="form-group col-sm-6" ng-show="playerCanUnreport()">
            <label class="control-label" for="unreportGame" translate="admin.actions.reporting.unreportMatch"></label>

            <select id="unreportGame" name="unreportGame" class="form-control" ng-model="gameToUnreport"
                    ng-options="item as item.player1.name+' VS '+item.player2.name for item in gamesToUnreport track by item.number">
            </select>
            <button ng-show="gamesToUnreport.length" id="unreportGameButton" data-toggle="modal" data-target="#unreportModal"
                    class="btn btn-primary"
                    title="{{'admin.actions.reporting.unreportButton'|translate}}" translate="admin.actions.reporting.unreportButton">
            </button>
        </div>
        <div class="form-group col-sm-12">
            <div id="tourneyReportingOk" class="alert alert-success alert-dismissible app-alert" role="alert" hidden>
                <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <span translate="admin.actions.reporting.reportingOk"></span>
            </div>
            <div id="tourneyReportingKo" class="alert alert-danger alert-dismissible app-alert" role="alert" hidden>
                <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <span translate="admin.actions.reporting.reportingKo"></span> (<span translate="{{errorMessage}}">{{ errorMessage | translate}}</span>)
            </div>
        </div>
    </fieldset>

    <div class="form-horizontal">
        <fieldset>

            <legend translate="play.infos"></legend>
            <p ng-show="tournamentInfo.running">
                <a ng-href="/bracket/{{ tournamentInfo.signupID }}/" id="tournamentBracketLink" translate="play.bracket"></a>
            </p>
            <div class="row">

                <div class="form-group col-sm-6">
                    <label class="control-label" for="game" translate="admin.form.game"></label>

                    <select id="game" name="game" class="form-control" ng-model="tournamentInfo.game" disabled>
                        <option value="" translate="play.noGame"></option>
                        <option value="sc2">Starcraft II</option>
                        <option value="other" translate="admin.form.other"></option>
                    </select>
                </div>


                <div class="form-group col-sm-6">
                    <label class="control-label" for="engine" translate="admin.form.engine"></label>

                    <select id="engine" name="engine" class="form-control" ng-model="tournamentInfo.engine" disabled>
                        <option value="" translate="play.noGameType"></option>
                        <option value="singleElim">Single elim. bracket</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label" for="description" translate="admin.form.description"></label>
                    <textarea id="description" name="description" class="form-control"
                              ng-model="tournamentInfo.description" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label" for="startDate" translate="admin.form.startDate"></label>
                    <input type="text" id="startDate" name="startDate" class="form-control"
                              ng-model="tournamentInfo.startDate" disabled />
                </div>
            </div>
        </fieldset>
        <fieldset ng-show="!tournamentInfo.locked">
            <legend translate="play.enter.register"></legend>
            <div class="row">
                <form ng-submit="enterTournament()">
                    <div class="form-group col-sm-6">
                        <input type="text" name="inputNick" id="inputNick" class="form-control"
                               placeholder="{{ 'play.enter.nickPlaceholder' | translate}}" ng-model="nick"/>
                    </div>
                    <div class="form-group col-sm-4">
                        <select name="inputFaction" class="form-control" ng-model="faction" ng-options="item for item in factions track by item">
                            <option value=""> -- Choose a faction -- </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-1">
                        <button class="btn btn-primary" id="registerPlayerGo" type="submit" translate="play.enter.go"></button>
                    </div>
                </form>
            </div>
            <div id="registrationOk" class="alert alert-success alert-dismissible app-alert" role="alert" hidden>
                <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span translate="play.register.success"></span>
            </div>
            <div id="registrationKo" class="alert alert-danger alert-dismissible app-alert" role="alert" hidden>
                <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span translate="play.register.fail"></span> (<span translate="{{errorMessage}}">{{errorMessage | translate}}</span>)
            </div>
        </fieldset>
        <fieldset id="playersList" ng-model="playerList">
            <legend><span translate="play.register.registeredPlayers"></span> ({{playerList.length}})</legend>
            <div ng-repeat="player in playerList" id="playerList" class="playerInList">
                <span>
                <span ng-if="player.faction"><img src="/images/icon-{{player.faction}}.png" height="20px" ></span>{{player.name}}
                </span>
            </div>
            <div ng-show="playerList.length == 0">
                <span translate="play.register.noPlayers"></span>
            </div>
        </fieldset>
    </div>
</div>

<div ng-include="'partials/footer'"></div>