<div ng-include="'partials/navbar'"></div>

<div ng-show="notFound" id="notFound" class="alert alert-danger ng-binding" role="alert" hidden=""
     style="display: none;">
    <button type="button" class="close alert-fix-close" ng-click="hideAlerts()" style="display: none;"><span
            aria-hidden="true" style="display: none;">×</span><span class="sr-only" style="display: none;">Close</span>
    </button>
    <span translate="play.notFound"></span>
</div>
<div id="content" ng-show="!hideContent">
    <div class="well clearwell">
        <div class="row" style="position:relative">
            <div class="form-group col-sm-11">
                <h1>
                    <a href="#"
                       ng-click="toggleCollapse()" id="displaySettings"><span translate="play.header.tournament"></span>
                        {{tournamentInfo.tournamentName}} {{ 'play.header.playPage' |
                        translate}}</a>
                </h1>
            </div>
            <div class="form-group col-sm-1">
                <h1>&nbsp;<a href="#"
                             ng-click="toggleCollapse()"><span class="{{isCollapsed ? 'caret-right': 'caret-big'}}"></span></a></h1>
            </div>
        </div>

        <div collapse="isCollapsed" style="min-width:355px;">
            <tabset>
                <tab>
                    <tab-heading>
                        <span translate="admin.form.generalSettingsTab"></span>
                    </tab-heading>
                    <fieldset class="expandedtabs expandedtabs-content">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label" for="engine" translate="admin.form.engine"></label>

                                <span id="engine" class="form-control">{{engine.description}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="description"
                                       translate="admin.form.description"></label>
                                <span id="description" name="description" class="form-control"> {{tournamentInfo.description}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="startDate" translate="admin.form.startDate"></label>
                                <span type="text" id="startDate" name="startDate" class="form-control"> {{tournamentInfo.startDate}}</span>
                            </div>
                        </div>
                    </fieldset>
                </tab>
                <tab>
                    <tab-heading>
                        <span id="playerManagement" translate="play.playersTab"></span>
                    </tab-heading>
                    <fieldset ng-show="!tournamentInfo.locked"
                              class="expandedtabs expandedtabs-content expandedtabs-middle">
                        <div class="row">
                            <legend translate="play.enter.register" class="expandedtabs expandedtabs-title"></legend>
                            <form ng-submit="enterTournament()">
                                <div class="form-group col-sm-6">
                                    <input type="text" name="inputNick" id="inputNick" class="form-control"
                                           placeholder="{{ 'play.enter.nickPlaceholder' | translate}}"
                                           ng-model="inputs.nick"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <select name="inputFaction" class="form-control" ng-model="inputs.faction"
                                            ng-options="item.name for item in factions track by item.tracker">
                                        <option value="" translate="common.chooseFaction"> -- Choose a faction --
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-1">
                                    <button class="btn btn-primary" id="registerPlayerGo" type="submit"
                                            translate="play.enter.go"></button>
                                </div>
                            </form>
                        </div>
                        <div ng-show="registrationOkDisplay" id="registrationOk"
                             class="alert alert-success alert-dismissible app-alert" role="alert"
                             hidden>
                            <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <span translate="play.register.success"></span>
                        </div>
                        <div ng-show="registrationKoDisplay" id="registrationKo"
                             class="alert alert-danger alert-dismissible app-alert" role="alert"
                             hidden>
                            <button type="button" class="close alert-fix-close" ng-click="hideAlerts()"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <span translate="play.register.fail"></span> (<span translate="{{errorMessage}}">{{errorMessage | translate}}</span>)
                        </div>
                    </fieldset>

                    <fieldset id="playersList" ng-model="playerList" class="expandedtabs expandedtabs-content">
                        <div class="row">
                            <legend class="expandedtabs expandedtabs-title"><span
                                    translate="play.register.registeredPlayers"></span> (Total : {{playerList.length}})
                            </legend>
                            <ul id="sortablePlayerList">
                                <li ng-repeat="player in playerList" class="playerInList">
                <span style="float:left"><span ng-if="player.faction"><img src="/images/icon-{{player.faction}}.png"
                                                                           height="20px"></span>{{player.name}} </span>
                            <span ng-if="'notes-'+stripped(player.name)" class="playerInListInfo"
                                  id="notes-{{stripped(player.name)}}" translate="{{errorMessage}}"></span>
                                </li>
                            </ul>
                            <div ng-show="playerList.length == 0">
                                <span translate="play.register.noPlayers"> </span>
                            </div>
                        </div>
                    </fieldset>
                </tab>
            </tabset>
        </div>
    </div>
    <div ng-controller="BracketCtrl" name="publicBracket">
        <div ng-include="'partials/bracket.html'"></div>
    </div>
</div>

<div ng-include="'partials/footer'"></div>