<div ng-include="'partials/navbar'"></div>

<div>
    <h1>{{ 'play.header.tournament' | translate }} {{tournamentInfo.tournamentName}} {{ 'play.header.playPage' |
        translate}}</h1>

    <p>{{ 'play.intro' | translate }}</p>

    <button id="reportWin" class="btn btn-primary" title="{{ 'play.report.description' | translate }}" ng-click="reportWinForm()">{{ 'play.report.buttonCaption' | translate }}</button>
    <div id="reportWinOk" class="alert alert-success alert-dismissible" role="alert" hidden>
        <button type="button" class="close alert-fix-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'play.report.success' | translate}}
    </div>
    <div id="reportWinKo" class="alert alert-danger alert-dismissible" role="alert" hidden>
        <button type="button" class="close alert-fix-close" data-dismiss="alert" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'play.report.fail' | translate }} (Reason : {{errorMessage}})
    </div>

    <div class="form-horizontal">
        <fieldset>

            <legend>{{ 'play.infos' | translate }}</legend>
            <p>
                <a ng-href="/bracket/{{ tournamentInfo.signupID }}/">{{ 'play.bracket' | translate }}</a>
            </p>
            <div class="row">

                <div class="form-group col-sm-6">
                    <label class="control-label" for="game">{{ 'admin.form.game' | translate }}</label>

                    <select id="game" name="game" class="form-control" ng-model="tournamentInfo.game" disabled>
                        <option value="">{{ 'play.noGame' | translate}}</option>
                        <option value="sc2">Starcraft II</option>
                        <option value="other">{{ 'admin.form.other' | translate}}</option>
                    </select>
                </div>


                <div class="form-group col-sm-6">
                    <label class="control-label" for="engine">{{'admin.form.engine' | translate}}</label>

                    <select id="engine" name="engine" class="form-control" ng-model="tournamentInfo.engine" disabled>
                        <option value="">{{ 'play.noGameType' | translate}}</option>
                        <option value="1">Single elim. bracket</option>
                        <option value="2">Single elim. bracket w/ 3rd place decider</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label" for="description">{{ 'admin.form.description' | translate }}</label>
                    <textarea id="description" name="description" class="form-control"
                              ng-model="tournamentInfo.description" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label" for="startDate">{{ 'admin.form.startDate' | translate }}</label>
                    <input type="text" id="startDate" name="startDate" class="form-control"
                              ng-model="tournamentInfo.startDate" disabled />
                </div>
            </div>
        </fieldset>
        <fieldset ng-show="!tournamentInfo.locked">
            <legend>{{ 'play.enter.register' | translate }}</legend>
            <div class="row">
                <form ng-submit="enterTournament()">
                    <div class="form-group col-sm-6">
                        <input type="text" name="inputNick" id="inputNick" class="form-control"
                               placeholder="{{ 'play.enter.nickPlaceholder' | translate}}" ng-model="nick"/>
                    </div>
                    <div class="form-group col-sm-4">
                        <select name="inputFaction" class="form-control" ng-model="faction" ng-options="item for item in factions track by item">
                            <option value=""> -- Choose a faction -- </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-1">
                        <button class="btn btn-primary" id="registerPlayerGo" type="submit">{{ 'play.enter.go' | translate }}</button>
                    </div>
                </form>
            </div>
            <div id="registrationOk" class="alert alert-success alert-dismissible" role="alert" hidden>
                <button type="button" class="close alert-fix-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ 'play.register.success' | translate}}
            </div>
            <div id="registrationKo" class="alert alert-danger alert-dismissible" role="alert" hidden>
                <button type="button" class="close alert-fix-close" data-dismiss="alert" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ 'play.register.fail' | translate }} (Reason : {{ 'play.register.errors.'+errorMessage | translate }})
            </div>
        </fieldset>
        <fieldset id="playersList" ng-model="playerList">
            <legend>{{ 'play.register.registeredPlayers' | translate}} ({{playerList.length}})</legend>
            <div ng-repeat="player in playerList" id="playerList" class="playerInList">
                <span>
                <span ng-if="player.faction"><img src="/images/icon-{{player.faction}}.png" height="20px" ></span>{{player.name}}
                </span>
            </div>
            <div ng-show="playerList.length == 0">
                <span> {{ 'play.register.noPlayers' | translate}} </span>
            </div>
        </fieldset>
    </div>
</div>

<div class="footer">
    <p translate="footer.love"></p>
</div>
