<div ng-include="'partials/navbar'"></div>

<div ng-show="tournamentLookupError" id="notFound" class="alert alert-danger ng-binding" role="alert">
    <span translate="preconfigure.noMatchingTournament"></span>
</div>

<div ng-show="error" id="noPlayers" class="alert alert-danger ng-binding" role="alert">
    <span translate="preconfigure.error.noPlayers"></span>
</div>
<div ng-show="!tournamentLookupError && !error" id="content">
    <div ng-show="!tournamentRunning && !incompatibleEngine">
        <h1><span translate="preconfigure.title"></span> <a
                href="/play/{{tournamentInfo.signupID}}">{{tournamentInfo.tournamentName}}</a></h1>

        <div ng-show="tournamentId" style="position:relative;width:50%;left:25%">
        </div>

        <div ng-show="engineTemplate" ng-include="engineTemplate"></div>

        <div class="form-horizontal">
            <div class="row">
                <span class="col-sm-8"></span>

                <button ng-click="resetBracket()"
                        class="col-sm-2 btn btn-default" id="reset"
                        title="{{ 'admin.actions.run.runningTooltip' | translate }}" translate="preconfigure.reset">
                </button>
                <button ng-click="updateBracketDataAndStart()"
                        class="btn btn-primary col-sm-2" id="confirmPreconfigure"
                        title="{{ 'admin.actions.run.runningTooltip' | translate }}" translate="preconfigure.start">
                </button>
            </div>
        </div>

    </div>
    <div ng-show="tournamentRunning">
        <h1 translate="preconfigure.notAvailable"></h1>
    </div>
    <div ng-show="incompatibleEngine">
        <h1 translate="preconfigure.incompatibleEngine"></h1>
    </div>
</div>

<div ng-include="'partials/footer'"></div>

