<div ng-include="'partials/navbar'"></div>

<div id="content">
    <table class="table table-striped">
        <tr>
            <th translate="tournaments.title.tournament"></th>
            <th ng-show="searchType !== 'created'" translate="tournaments.title.creator"></th>
        </tr>

        <tr ng-repeat="tournamentUser in tournamentUsersToDisplay">
            <td><a ng-href="/admin/{{tournamentUser.tournamentId}}">{{tournamentUser.name}}</a></td>
            <td ng-show="searchType !== 'created'"><span ng-show="tournamentUser.creator" class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
    </table>
</div>

<div ng-include="'partials/footer'"></div>