<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Maintenance time for Toodle!</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>

    <link rel="stylesheet" href="styles/main.css">

    <link rel="stylesheet" href="../../bower_components/jquery-ui/themes/flick/jquery-ui.min.css">
    <style>
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }
    </style>

</head>
<body>
<div class="container">
    <div id="content">
        <h1>It's maintenance time !</h1>

        <p>It's maintenance time for Toodle. We'll be back as soon as possible with an upgraded and (hopefully ^^')
            improved app !</p>

        <p>C'est l'heure de la maintenance pour Toodle. Nous serons de retour dès que possible avec une application mise
            à jour et (espérons le ^^') améliorée!</p>
        <p>♥</p>
    </div>
</div>
</body>
</html>