<div ng-include="'partials/navbar'"></div>
<div id="content">
    <h1 translate="about.team"></h1>
    <h2>Alexandre "Bri0che" Evain</h2>
    <h3 translate="about.who"></h3>
    I'm an IT / network security consultant that loves e-sports in general
    <h3 translate="about.role"></h3>
    I bring new ideas, and try and bring structures to use our app for their tournaments.
    <h2>Martin "Hoshin" Bahier</h2>
    <h3 translate="about.who"></h3>
    I'm an IT consultant / software craftsman that happens to be quite Starcraft 2 addicted even though my skills are sub par in that area.
    <h3 translate="about.role"></h3>
    I develop most of what you see in the app. I'm also in charge of the more "operations" oriented aspects of the project (deployment on www.toodle.it & such) and part of QA (i.e : checking nothing is broken).
</div>
<div ng-include="'partials/footer'"></div>