<div ng-include="'partials/navbar'"></div>
<div id="content">
    <div class="form-horizontal">
        <div class="row">
            <h1 translate="about.team" class="col-sm-12"></h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 translate="about.people.evain.name"></h2>
                <!--<img class="image" src="/images/people/brioche.jpg">-->
                <div class="image brioche"></div>
                <h3 translate="about.who"></h3>

                <p translate="about.people.evain.who"></p>

                <h3 translate="about.role"></h3>

                <p translate="about.people.evain.role"></p>
            </div>
            <div class="col-sm-6">
                <h2 translate="about.people.martin.name"></h2>
                <div class="image hoshin"></div>

                <h3 translate="about.who"></h3>

                <p translate="about.people.martin.who"></p>

                <h3 translate="about.role"></h3>

                <p translate="about.people.martin.role">
            </div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>