<div ng-include="'partials/navbar'"></div>
<div id="content">
    <div class="form-horizontal">
        <div class="row">
            <h1 class="col-sm-12" translate="csv.title"></h1>

            <p translate="csv.paragraph1"></p>

            <p translate="csv.paragraph2"></p>

            <div class="image-container">
                <pre>
name, faction
player 1, random
player 2, terran
player 3, zerg
player 4, protoss
player 5, random
player 6, terran
player 7, protoss
player 8, zerg</pre>
                <span class="legend" translate="csv.legend1"></span>
            </div>
            <p translate="csv.paragraph3"></p>

            <p translate="csv.paragraph4"></p>

            <div class="image-container">
                <pre>
name, faction
player 1,
player 2, terran
player 3, zerg
player 4, protoss
player 5,
player 6, terran
player 7, protoss
player 8, zerg</pre>
                <span class="legend" translate="csv.legend2"></span>
            </div>
            <p translate="csv.paragraph5"></p>

            <p translate="csv.paragraph6"></p>

            <div class="image-container">
                <pre>
name
player 1
player 2
player 3
player 4
player 5
player 6
player 7
player 8</pre>
                <span class="legend" translate="csv.legend3"></span>
            </div>
        </div>

    </div>
</div>
<div ng-include="'partials/footer'"></div>