<div ng-include="'partials/navbar'"></div>
<div id="content">
    <div id="staticContent">
        <h2 class="title spaceBAfter" translate="privacy.general.title"></h2>
        <p translate="privacy.general.paragraph1"></p>
        <p translate="privacy.general.paragraph2"></p>

        <h3 translate="privacy.overview.title"></h3>

        <p translate="privacy.overview.paragraph1"></p>

        <h3 translate="privacy.logData.title">Log data</h3>
        <p translate="privacy.logData.paragraph1"></p>

        <p translate="privacy.logData.paragraph2"></p>

        <h3 translate="privacy.cookies.title"></h3>
        <p translate="privacy.cookies.paragraph1"></p>

        <p translate="privacy.cookies.paragraph2"></p>

        <h3 translate="privacy.outdated.title"></h3>
        <p translate="privacy.outdated.paragraph1"></p>

        <h3 translate="privacy.inactive.title"></h3>
        <p translate="privacy.inactive.paragraph1"></p>

        <h3 translate="privacy.unauthorized.title"></h3>
        <p translate="privacy.unauthorized.paragraph1"></p>
        <p translate="privacy.unauthorized.paragraph2"></p>
        <p translate="privacy.unauthorized.paragraph3"></p>

        <h3 translate="privacy.communication.title"></h3>
        <p translate="privacy.communication.paragraph1"></p>

        <h3 translate="privacy.location.title"></h3>
        <p translate="privacy.location.paragraph1"></p>

        <h3 translate="privacy.sharing.title"></h3>
        <p translate="privacy.sharing.paragraph1"></p>
        <p translate="privacy.sharing.paragraph2"></p>

        <h3 translate="privacy.changes.title"></h3>
        <p translate="privacy.changes.paragraph1"></p>

        <p translate="lastMod"></p>
    </div>

</div>

<div ng-include="'partials/footer'"></div>