<div ng-include="'partials/navbar'"></div>
<div id="content">
    <div id="staticContent">
        <h2 class="title spaceBAfter">Privacy Policy</h2>
        <p>Toodle takes great care to protect your privacy and to secure
            the data that is stored on the Toodle servers. Toodle takes measures to
            protect personal information against loss, misuse, unauthorized
            access, unauthorized disclosure, manipulation, or destruction.</p>
        <p>This Privacy Policy describes how Toodle handles the data it
            has access to.</p>

        <h3>Overview</h3>

        <p>When you use Toodle, you send pieces of data to Toodle; this
            can be a name, an e-mail address, or information about a tournament. Other data is generated implicitly by your use of Toodle,
            e.g. log data.</p>

        <h3>Log data</h3>
        <p>Toodle records certain requests and transactions in log files.
            This log data is used for troubleshooting, statistics, quality
            assurance, and to monitor system security and can be analyzed to that
            end. Toodle can publish anonymous statistics under the condition that
            no personally identifiable information can be derived from such statistics.</p>

        <p>Toodle also uses Piwik to compile usage statistics.</p>

        <h3>Cookies</h3>
        <p>When you use Toodle, the service can store cookies on your
            computer. Cookies are little pieces of information that can help
            identify your browser and that can store information, e.g. application
            settings. Toodle uses cookies to track usage, to improve ease-of-use
            and the overall user experience.</p>
        
        <h3>Outdated and completed tournaments</h3>
        <p>You can delete outdated or completed (or, in fact, any) tournaments
            manually at any time using the admin link. When deleting a tournament, that
            tournament’s information will be deleted from the Toodle databases.
            Furthermore, outdated tournaments are automatically deleted from time to
            time, but no earlier than 30 days after the last date in the tournament, or
            30 days after the last access to a tournament without dates.</p>

        <h3>Inactive accounts</h3>
        <p>Toodle can delete user-accounts if they remain
            inactive (i.e. not accessed) for 1 year or longer.</p>


        <h3>Unauthorized access</h3>
        <p>Toodle implements several mechanisms to prevent unauthorized
            access to tournaments, accounts, or other data.</p>
        <p>To access a tournament, you use the unique link which Toodle provides
            and which contains a random access code. This link is an important
            element to prevent unauthorized access to a tournament. You should send this
            link only to authorized people, i.e., the people you wish to
            participate in your tournament.</p>
        <p>To emulate user accounts, Toodle relies on already existing identity providers such as Google or Twitter. Toodle then stores your identifier. No other data is requested than the most basic those providers give (basic profile, readonly)</p>

        <h3>Communication between you and Toodle</h3>
        <p>If you send Toodle a message, this message can be stored to
            process it, to compile statistical information, to improve our
            services and support, or to get in touch with you.</p>

        <h3>Location of data</h3>
        <p>The Toodle databases are located in Ireland.</p>

        <h3>Sharing personal information</h3>
        <p>Toodle uses personal information according to the Terms of
            Service and this Privacy Policy.</p>
        <p>Toodle may share personal information with other companies or
            individuals only in the following limited circumstances: (i) Toodle
            has your consent; (ii) Toodle has good faith that there is a legal
            obligation to share the data; (iii) Toodle needs to access or share
            the data to protect the security of the service or of others users’
            data; (iv) Toodle needs to access or share the data to protect
            Toodle’s rights and property or to enforce the Terms of Service.</p>

        <h3>Changes</h3>
        <p>Toodle reserves the right to update this Privacy Policy at any
            time. The most current version of this policy is available at <a href="/privacy">www.toodle.it/privacy</a>.</p>

        <p>May 7 2015</p>
    </div>

</div>

<div ng-include="'partials/footer'"></div>