<div ng-include="'partials/navbar'"></div>
<div id="content">
    <h1 translate="tos.title"></h1>
    <ol>
        <li translate="tos.general.title"></li>


        <ol>
            <li translate="tos.general.item1"></li>
            <li translate="tos.general.item2"></li>
            <li translate="tos.general.item3"></li>
            <li translate="tos.general.item4"></li>
            <li translate="tos.general.item5"></li>
            <li translate="tos.general.item6"></li>
            <li translate="tos.general.item7"></li>
        </ol>

        <li translate="tos.provision.title"></li>


        <ol>
            <li translate="tos.provision.item1"></li>
            <li translate="tos.provision.item2"></li>
            <li translate="tos.provision.item3"></li>
            <li translate="tos.provision.item4"></li>
            <li translate="tos.provision.item5"></li>
            <li translate="tos.provision.item6"></li>
        </ol>

        <li translate="tos.use.title"></li>


        <ol>
            <li translate="tos.use.item1"></li>
            <li translate="tos.use.item2"></li>
            <li translate="tos.use.item3"></li>
            <li translate="tos.use.item4"></li>
            <!--<li translate="tos.use.item5"></li>-->
            <li translate="tos.use.item6"></li>
            <li translate="tos.use.item7"></li>
            <li translate="tos.use.item8"></li>
        </ol>


        <li translate="tos.api.title"></li>

        <p>
            Any use of the application programming interface (API) is bound by the terms of this agreement plus the
            following specific terms:
        </p>
        <ol>
            <li translate="tos.api.item1"></li>
            <li translate="tos.api.item2"></li>
            <li translate="tos.api.item3"></li>
        </ol>
    </ol>
</div>

<div ng-include="'partials/footer'"></div>